:root {
    /* Color */
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;

    /* Spacing */
    --element-spacing: 8px;
    --grouped-button-spacing: 4px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --range-track-height: 4px;
    --range-spacing: 10px;

  
    /* Borders */
    --border-width: 0.0625em;
    --border-raised-outer: inset -1px -1px var(--window-frame),
      inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
      inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight),
      inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face),
      inset 2px 2px var(--button-shadow);
  
    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame),
      inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow),
      inset 2px 2px var(--button-highlight);
  
    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight),
      inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
      inset 2px 2px var(--window-frame);
  
    /* Tabs */
    --border-tab: inset -1px 0 var(--window-frame),
      inset 1px 1px var(--button-face),
      inset -2px 0 var(--button-shadow),
      inset 2px 2px var(--button-highlight)
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/converted/ms_sans_serif.woff") format("woff");
    src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/converted/ms_sans_serif_bold.woff") format("woff");
    src: url("fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #008080;
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.window {
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 0.1875em;
  position: absolute;
  cursor: move;
  user-select: none;
  top: 25%; 
  left: 20%;
  width: 600px;
  height: 400px;
  min-width: 300px;
  min-height: 200px;
  max-width: calc(100vw - 1.25em);
  max-height: calc(100vh - 3.75em);
  overflow: hidden;
  z-index: 10;
  box-sizing: border-box;
}

.window[role=tabpanel] {
  position: relative;
  z-index: 2;
}

.window-body {
  margin: var(--element-spacing);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  max-height: calc(100% - 50px);
}

.window-body p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.window-body img {
  max-width: 100%;
  height: auto;
}

.window-body .column.images img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.window-resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 20px;
  cursor: nwse-resize;
  z-index: 1001;
  background-image: url("icons/indicator-rectangle-horizontal.svg");
  touch-action: none;
  pointer-events: auto;
  border: none;
  box-shadow: none;
  opacity: 1;
  display: block;
}

.window.max .window-resize-handle {
  display: none;
}

.notepad-body{
  background-color: whitesmoke;
  min-height: 100%;
  padding-left: 1%;
  padding-top: 1px;
  margin-top: 0px;
  border-width: 10px;
  border-top: 2px solid rgb(83, 83, 83);
  border-left: 2px solid rgb(83, 83, 83);
  border-bottom: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}

.title-bar {
  background: var(--dialog-blue);
  padding: 0.1875em 0.125em 0.1875em 0.1875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1.25em;
}

.title-bar.inactive {
  background: linear-gradient(
    90deg,
    var(--dialog-gray),
    var(--dialog-gray-light)
  );
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 1.5em;
  min-height: 1.25em;
  width: 1.5em;
  height: 1.25em;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  background-image: url("icons/minimize.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  size: 80%;
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: url("icons/maximize.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  size: 80%;
}

.title-bar-controls button[aria-label="Restore"] {
  background-image: url("icons/restore.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  size: 80%;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: url("icons/help.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  size: 80%;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: url("icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  size: 80%;
}

button,
input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
  padding: 0 12px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

button:not(:disabled):active,
input[type="submit"]:not(:disabled):active,
input[type="reset"]:not(:disabled):active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}

button.tab:not(:disabled):active,
input[type="submit"]:not(:disabled):active,
input[type="reset"]:not(:disabled):active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
  background-color: #ffffff;
  opacity: 0.8;
  background-image:  repeating-linear-gradient(45deg, #c3c3c3 25%, transparent 25%, transparent 75%, #c3c3c3 75%, #c3c3c3), repeating-linear-gradient(45deg, #c3c3c3 25%, #ffffff 25%, #ffffff 75%, #c3c3c3 75%, #c3c3c3);
  background-position: 0 0, 1.25px 1.25px;
  background-size: 2.5px 2.5px;
  font-weight: bold;
}

@media (not(hover)) {
    button:not(:disabled):hover,
    input[type="submit"]:not(:disabled):hover,
    input[type="reset"]:not(:disabled):hover {
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus#tab {
  outline: none;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label,
input[readonly],
input[readonly] + label {
  color: var(--button-shadow);
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
:disabled + label {
  text-shadow: 1px 1px 0 var(--button-highlight);
}




.menu {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    padding: 5px 5px 8px 5px;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.status-bar {
    display: flex;
}
  
.status-bar-field {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
    padding: 2px 3px;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.shortcuts-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 60px;
}

.shortcut {
  margin: 10px;
  margin-bottom: 30px;
  display: block;
  color: white;
  font-family: "Pixelated MS Sans Serif";
  min-width: 80px;
  touch-action: manipulation;
}

.shortcuts-container .shortcut {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 6px;
  padding-bottom: 6px;
}

.shortcuts-container .shortcut br {
  display: none;
}

.shortcuts-container .shortcut img {
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 5px !important;
}

.shortcuts-container .shortcut span {
  display: block;
  line-height: 1em;
  min-height: 1em;
}



#start {
    height: 40px;
    width: 80px;
    padding-left:2px;
    padding-right:5px;
    margin-bottom: 0;
    font-weight:bold;
    font-size:17px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Pixelated MS Sans Serif";
    position: static;
}
  
#time {
    height: 80%;
    width: 60%;
    padding-left:2px;
    padding-right:5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-family: "Pixelated MS Sans Serif";
    font-weight: normal;
    font-size: 95%;
}

#sc-about {
  width: fit-content;
  height: fit-content;
  background: none;
  outline: none;
  box-shadow: none;

}



.hide {
  display: none;
}

.tab {
  font-family: "Pixelated MS Sans Serif";
  font-weight: normal;
  height: 40px;
  width: 220px;
  padding-left:10px;
  padding-right:5px;
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: thin;
  font-size:17px;
  position: static;
  text-align: start;
}


button.shortcut,
input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  border: none;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;

  padding: 0 12px;
}

button.shortcut:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  color: #ffffff;
  /* border: 2px solid black;
  background-color: white;
  font-size: 16px;
  cursor: pointer; */
  span {
    background-color: #008080;
    outline: 1px dotted #ffffff;
    /* outline-offset: 4px;  */
  }
  img {
    filter: url("images/filter.svg");
  }
  div::after {
    height: 40px; 
    width: 40px; 
    background-color: rgba( 0 , 128 , 128, 80%);
  }
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 0, 1);
}


.max{
  position: absolute;
  top: 0;
  left: 0;
  width: 99.7%;
  height: 95.25%;
  min-width: unset;
  min-height: unset;
}

.bigmax{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* for mobile */
@media screen and (max-width: 768px) {
  .window {
    top: 10%;
    left: 5%;
    width: 90%;
    max-width: 90%;
  }

  .window.max {
    width: 100%;
    height: calc(100vh - 50px);
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: calc(100vh - 50px);
  }

  .window-body {
    width: 100%;
    max-width: 100%;
    margin-right: 10px;
  }

  .window-body .row {
    flex-direction: column !important;
    margin: 0 !important;
  }

  .window-body .column {
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box;
  }

  .window-body .column img {
    max-width: 100%;
    height: auto;
  }

  .menu {
    height: 25px;
    padding: 3px 5px;
  }

  #start {
    height: 20px;
    width: 50px;
    font-size: 10px;
    padding: 0 5px;
  }

  #start img {
    width: 12px !important;
    height: 14px !important;
  }

  .tab {
    height: 20px;
    width: auto;
    min-width: 60px;
    padding: 0 5px;
    font-size: 10px;
    margin-left: 3px;
    margin-bottom: 0;
  }

  #time {
    height: 20px;
    width: 50px;
    font-size: 9px;
    right: 5px;
  }

  .shortcuts-container {
    padding: 10px 5px;
    justify-content: center;
  }

  .shortcut {
    margin: 8px;
    min-width: 70px;
    font-size: 12px;
  }

  .shortcut img {
    height: 32px !important;
    width: 32px !important;
  }

  .title-bar-text {
    font-size: 12px;
    margin-right: 8px;
  }

  .title-bar-controls button {
    min-width: 24px;
    min-height: 20px;
    width: 24px;
    height: 20px;
  }

  .window-body p {
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .window-body img {
    max-width: 100%;
    height: auto;
  }

  .window-body br {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .window {
    top: 5%;
    left: 2.5%;
    width: 95%;
    max-width: 95%;
  }

  .window.max {
    width: 100%;
    height: calc(100vh - 25px);
    top: 0;
    left: 0;
  }

  .menu {
    height: 25px;
    padding: 2px 5px;
  }

  #start {
    height: 18px;
    width: 45px;
    font-size: 9px;
    padding: 0 4px;
  }

  #start img {
    width: 10px !important;
    height: 12px !important;
  }

  .tab {
    height: 18px;
    width: auto;
    min-width: 50px;
    padding: 0 4px;
    font-size: 9px;
    margin-left: 2px;
    margin-bottom: 0;
  }

  #time {
    height: 18px;
    width: 45px;
    font-size: 8px;
    right: 3px;
  }

  .shortcut {
    margin: 5px;
    min-width: 60px;
    font-size: 11px;
  }

  .shortcut img {
    height: 28px !important;
    width: 28px !important;
  }

  .window-body p {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .window-body br {
    display: none;
  }
}

@media screen and (max-width:480px) {  
  .images {
    display: none;
  }
}